# dependencies
node_modules/

# production
/dist
/build

# misc
.DS_Store
.env
.env.*
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
Thumbs.db
.DS_Store

# test coverage
coverage/

# others
*.log
